@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>WorkNet</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/slick/slick.css" />
    <link rel="stylesheet" href="~/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link href="~/css/notiflix-2.1.3.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Main.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/fav/favicon-16x16.png">
    @*<link rel="manifest" href="~/img/fav/site.webmanifest">*@
</head>

<body>
    <main class="container-fluid">
        <div class="row">
            <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
                <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                    <i class="MenuButton fas fa-bars"></i>
                </button>
                <div class="tm-sidebar-sticky">
                    <div class="tm-brand-box">
                        <!-- <div class="tm-double-border-1">
                              <div class="tm-double-border-2"> -->
                        <!-- <h1 class="tm-brand text-uppercase">WorkNet</h1> -->
                        <img src="~/img/logoTextWhite.png" class="img-fluid" alt="Logo">
                        <!-- </div>
                            </div> -->
                    </div>

                    <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
                        <li class="nav-item">
                            <a href="#intro" class="nav-link active">
                                <span class="d-inline-block mr-3">WorkNet</span>
                                <span class="d-inline-block tm-white-rect"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">
                                <span class="d-inline-block mr-3">About Us</span>
                                <span class="d-inline-block tm-white-rect"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#OurCommunity" class="nav-link">
                                <span class="d-inline-block mr-3">Community</span>
                                <span class="d-inline-block tm-white-rect"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#GettingStarted" class="nav-link">
                                <span class="d-inline-block mr-3">Get Started</span>
                                <span class="d-inline-block tm-white-rect"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#talk" class="nav-link">
                                <span class="d-inline-block mr-3">Let's Talk</span>
                                <span class="d-inline-block tm-white-rect"></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav flex-row tm-social-links">
                        <li class="nav-item">
                            <a href="mailto:info@worknetapp.com" class="nav-link tm-social-link">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="tel:+27789910559" class="nav-link tm-social-link">
                                <i class="fas fa-phone"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://dribbble.com" class="nav-link tm-social-link">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        <!--
                            <li class="nav-item">
                              <a href="https://linkedin.com" class="nav-link tm-social-link">
                                <i class="fab fa-linkedin-in"></i>
                              </a>
                            </li> -->
                    </ul>
                    <footer class="text-center text-white small">
                        <p class="mb--0 mb-2">&copy WorkNet 2021</p>
                        <!-- <p class="mb-0">Design:
                              <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                            </p> -->
                    </footer>
                </div>
            </nav>

            <main role="main" class="ml-sm-auto col-12">
                <div class="parallax-window" data-parallax="scroll" data-image-src="https://res.cloudinary.com/worknet/image/upload/v1615902145/img/landing_ceeoal.jpg">
                    <div class="tm-section-wrap">
                        <section id="intro" class="tm-section">
                            <div class="tm-bg-white-transparent tm-intro">
                                <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary">Introducing WorkNet</h2>
                                <p class="tm-color-gray">
                                    Hey! are looking for a plumber in your area to fix that broken pipe?
                                    or a web developer to get your website going? maybe you need an auditor,
                                    content creator or a nanny at home?
                                </p>
                                <p class="mb-3 tm-color-gray">
                                    The list is endless and so is what you can find in our community of skilled labour at WorkNet.
                                </p>
                                <a href="" class="btn btn-Yellow">Search</a>

                            </div>
                        </section>
                    </div>
                </div>

                <div class="tm-section-wrap bg-white">
                    <section id="about" class="row tm-section">
                        <div class="col-xl-6">
                            <div class="tm-section-half">
                                <!-- <div><i class="fas fa-6x fa-balance-scale mb-5 tm-section-icon"></i></div> -->
                                <h2 class="tm-section-heading tm-color-primary mb-5">About Us</h2>
                                <p class="mb-4">
                                    Simply put, we are a skilled labour library, your all-in-one stop to search for and
                                    find a variety of skilled labour, to get whatever you need done.
                                </p>
                                <p>
                                    We are the place where you can be part of a community of skills, talents, and like minded people.
                                    If you have the desire to get out there, gain exposure, get connected, meet work demand, and get the job
                                    done,
                                    <b>We are what you need!</b>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="tm-section-half">
                                <!-- <div><i class="far fa-6x fa-building mb-5 tm-section-icon"></i></div> -->
                                <h2 class="tm-section-heading tm-color-primary mb-5">What Drives Us</h2>
                                <p class="mb-4">
                                    We are in the business of gathering people, skills, demand, and creating a rich community of
                                    <i>skills-meet-demand</i>, that is open for anyone to have access to.
                                </p>
                                <p>
                                    We aim to create a platform to provide exposure to our various industries' hidden, unused, and
                                    potential talents, facilitating the meeting point for every skill and demand.
                                </p>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="tm-section-wrap bg-white">
                    <section id="OurCommunity" class="row tm-section">
                        <div class="col-12">
                            <div class="w-100 tm-double-border-1 tm-border-yellow">
                                <div class="tm-double-border-2 tm-border-yellow tm-box-pad">
                                    <div class="tm-gallery-wrap">
                                        <h2 class="tm-color-primary tm-section-title mb-4 ml-2">What you can find</h2>
                                        <div class="tm-gallery">
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/01.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2>Health <br /><span>Care</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(HealthCare)">View More</button>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/02.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2>Agriculture <br /><span>Services</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(Agriculture)">View More</button>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/03.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2>Financial <br /><span>Services</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(Financial)">View More</button>
                                                        </p>

                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/04.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2>Domestic <br /><span>Services</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(Domestic)">View More</button>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/05.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2>Engineering <br /><span>Services</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(Engineering)">View More</button>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/06.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2><span>Education</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(Education)">View More</button>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/07.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2>Creative <br /><span>Arts</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(CreativeArts)">View More</button>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="tm-gallery-item">
                                                <figure class="effect-bubba">
                                                    <img src="~/img/gallery/08.jpg" alt="Our Work Image" class="img-fluid">
                                                    <figcaption>
                                                        <h2>Information <br /><span>Technology</span></h2>
                                                        <p>
                                                            <button class="btn btn-Yellow" onclick="Search(InformationTechnology)">
                                                                View
                                                                More
                                                            </button>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="tm-section-wrap bg-white">
                    <section id="GettingStarted" class="row tm-section">
                        <div class="col-12 tm-section-pad">
                            <div class="tm-flex-item-left">
                                <div class="tm-w-80">
                                    <h2 class="tm-color-primary tm-section-title mb-5">Getting Started</h2>
                                    <p>
                                        If you who are looking to get contacted for the skills or services you provide, click the sign up button,
                                        and fill in the required information to get started and be discovered.
                                    </p>
                                    <p>
                                        If you already have an account, click the log in button or the user icon on the navigation menu to your left, to access your account.
                                    </p>

                                    <a href="@Url.Action("SignUp", "Home")" class="btn btn-Yellow shadow mb-3">Sign Up</a> <a href="@Url.Action("Login", "Home")" class="btn btn-Yellow shadow mb-3 ml-2">Log in</a>
                                    <p>
                                        Need a hand to get work done or a particular service rendered? click the search button, to start searching for skilled labour that's right for you.
                                    </p>
                                    <button class="btn shadow btn-Yellow mb-2">Search</button>
                                </div>

                                <!-- <div class="row tm-clients-images">
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://google.com">
                                      <img src="img/client-1.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://facebook.com">
                                      <img src="img/client-2.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://twitter.com">
                                      <img src="img/client-3.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://instagram.com">
                                      <img src="img/client-4.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://google.com">
                                      <img src="img/client-5.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://facebook.com">
                                      <img src="img/client-6.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://twitter.com">
                                      <img src="img/client-7.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                  <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                                    <a href="https://instagram.com">
                                      <img src="img/client-8.png" alt="Client Image" class="img-fluid tm-client-img" />
                                    </a>
                                  </div>
                                </div> -->
                            </div>
                        </div>
                    </section>
                </div>

                <div class="tm-section-wrap bg-white">
                    <section id="talk" class="row tm-section">
                        <div class="col-xl-6 mb-5">
                            <div class="tm-double-border-1 tm-border-yellow">
                                <div class="tm-double-border-2 tm-border-yellow tm-box-pad">
                                    <h2 class="tm-color-primary tm-section-title mb-4">Talk to Us</h2>
                                    <p class="mb-2">
                                        We would love to hear from You! <span style='font-size:20px;'>&#128513;</span>
                                    </p>
                                    <p class="mb-4">
                                        Just select one of the provided email subjects, then your name, email, message, and we will get in
                                        touch with you.
                                    </p>
                                    <p class="mb-3 ContactUs-slogan">
                                        <i>"where skills meet demand"</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 mb-5">
                            <div class="tm-contact-form-wrap">
                                <form action="" id="contact-us-form" method="POST" class="tm-contact-form" onsubmit="event.preventDefault()">
                                    <div class="form-group mb-5">
                                        <select class="EmailSubject custom-select rounded-0 border-top-0 border-right-0 border-left-0"
                                                id="subject" required="">
                                            <option selected value="0">Select Subject</option>
                                            <option value="General Enquiry">General Enquiry</option>
                                            <option value="Account Support">Account Support</option>
                                            <option value="Suggestions">Suggestions</option>
                                            <option value="Reviews">Reviews</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="contact_name" id="name"
                                               class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Name"
                                               required="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="contact_email" id="email"
                                               class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Email"
                                               required="" />
                                    </div>

                                    <div class="form-group">
                                        <textarea rows="4" name="contact_message" id="message"
                                                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Message..."
                                                  required=""></textarea>
                                    </div>

                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn rounded-0 d-block ml-auto tm-btn-primary">
                                            SEND
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </main>

    <!--Scripts-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.singlePageNav.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/slick/slick.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/notiflix-2.1.3.min.js"></script>
    <script src="~/js/Main.js"></script>
</body>

</html>